body {
    background-color: darkslategrey;
}

div {
    background-color: white;
    color: darkblue;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Comic Sans','sans-serif';
    text-align: center;
}

h1 {
    color: cadetblue;
    flex: auto;
    font-weight: bolder;
    font-family: 'Comic Sans','sans-serif';
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: 450px;
}